<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="md-form col-md-3 col-sm-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Role</mat-label>
                        <mat-select (selectionChange)="searchPartsPerMachine($event)">
                            <mat-option *ngFor="let rol of rolList" [value]="rol.id">
                                {{rol.description}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-md-6 com-sm-12">
                <div class="col-md-12 col-sm-12">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilterPM($event)">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title "> Role Pages</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-responsive-2">
                                        <table mat-table [dataSource]="dataSourcePageNew" class="table">
                                            <ng-container matColumnDef="page">
                                                <th mat-header-cell *matHeaderCellDef> Page </th>
                                                <td mat-cell *matCellDef="let page"> {{page.description}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions" stickyEnd>
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <div class="example-button-container">
                                                        <button mat-mini-fab color="primary" 
                                                        class="color-button" (click)="openModalAdd()" 
                                                        [disabled]="dataSourcePageNew.data.length == 0">
                                                          <i class="material-icons" >save</i>
                                                        </button>
                                                    </div>
                                                </th>
                                                <td mat-cell *matCellDef="let page; let i = index"> 
                                                    <div class="example-button-container">
                                                        <button mat-icon-button (click)="removePage(i, page)">
                                                            <i class="material-icons" >remove</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let page; columns: columnsToDisplay"></tr>
                                        </table>
                                        <mat-paginator #paginatorNew [pageSizeOptions]="[5, 10, 20]" class="mat-paginator-sticky"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col-md-12 col-sm-12">
                    <div class="input-group no-border">
                        <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event)">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title ">Page List</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-responsive-2">
                                        <table mat-table [dataSource]="dataSourcePage" class="table">
                                            <ng-container matColumnDef="page">
                                                <th mat-header-cell *matHeaderCellDef> Page </th>
                                                <td mat-cell *matCellDef="let page"> {{page.description}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="actions" stickyEnd>
                                                <th mat-header-cell *matHeaderCellDef></th>
                                                <td mat-cell *matCellDef="let page; let i = index;"> 
                                                    <div class="example-button-container">
                                                        <button mat-icon-button (click)="addPage(i, page)">
                                                            <i class="material-icons" >add</i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                                            <tr mat-row *matRowDef="let page; columns: columnsToDisplay"></tr>
                                        </table>
                                        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" class="mat-paginator-sticky"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
