/* You can add global styles to this file, and also import other style files */
.h-80{
    height: 80vh;
}
.color-button{
    background: #3590c4!important;
}
.cdk-overlay-pane{
    max-height: 80vh;
}
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3590c4;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #1c77ac;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #3590c4;
  }
  ::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track:hover,
  ::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  
  th.mat-header-cell {
    text-align: center !important;
  }