<div class="main-content h-100 over">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title " *ngIf="!update">Add User</h4>
                        <h4 class="card-title " *ngIf="update">Update User</h4>
                    </div>
                    <div class="card-body">
                        <form class="text-center pt-3" [formGroup]="user">
                            <div class="row">
                                <div class="md-form col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>User Name</mat-label>
                                                <input matInput type="text" formControlName="userName">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.userName.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Password</mat-label>
                                                <input matInput type="text" formControlName="password">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.password.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>E-mail</mat-label>
                                                <input matInput type="email" formControlName="email">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.email.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Name</mat-label>
                                                <input matInput type="text" formControlName="name">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.name.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Last Name</mat-label>
                                                <input matInput type="text" formControlName="lastName">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.lastName.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Mother´s Last Name</mat-label>
                                                <input matInput type="text" formControlName="motherLastName">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.motherLastName.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                         <div class="md-form col-4 col-md-4 col-sm-12" [hidden]="!update || this.detailUser.status != 1">
                                            <mat-label class="mr-2">Status:</mat-label>
                                            <mat-radio-group aria-label="Select an option" formControlName="status">
                                                <mat-radio-button value="1">Active</mat-radio-button>
                                                <mat-radio-button value="0">Inactive</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <!-- <mat-divider></mat-divider>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Age</mat-label>
                                                <input matInput type="text" formControlName="age">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.age.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Heigth</mat-label>
                                                <input matInput type="text" formControlName="heigth">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.heigth.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>Body Mass (Kg)</mat-label>
                                                <input matInput type="text" formControlName="bodyMass">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.bodyMass.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="md-form col-md-3 col-sm-12">
                                            <mat-form-field class="example-form-field p-0">
                                                <mat-label>IMSS</mat-label>
                                                <input matInput type="text" formControlName="imss">
                                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formUser.imss.reset()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div> -->
                                    </div>
                                </div>
                               
                                <div class="col-md-6 com-sm-12">
                                    <span *ngIf="dataSourceRoleNew.data.length == 0" class="required">Is necessary to select at least one role </span>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group no-border">
                                            <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilterPM($event.target.value)">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="row">
                                                
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="card-header card-header-danger">
                                                        <h4 class="card-title "> User Roles</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive table-responsive-2">
                                                            <table mat-table [dataSource]="dataSourceRoleNew" class="table">
                                                                <ng-container matColumnDef="role">
                                                                    <th mat-header-cell *matHeaderCellDef> Role </th>
                                                                    <td mat-cell *matCellDef="let role"> {{role}} </td>
                                                                </ng-container>
                                                                <ng-container matColumnDef="actions" stickyEnd>
                                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                                    <td mat-cell *matCellDef="let role; let i = index"> 
                                                                        <div class="example-button-container">
                                                                            <button mat-icon-button (click)="removeRole(i, role)">
                                                                                <i class="material-icons" >remove</i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </ng-container>
                                                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                                                                <tr mat-row *matRowDef="let role; columns: columnsToDisplay"></tr>
                                                            </table>
                                                            <mat-paginator #paginatorNew [pageSizeOptions]="[5, 10, 20]" class="mat-paginator-sticky"></mat-paginator>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="input-group no-border">
                                            <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event.target.value)">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="card-header card-header-danger">
                                                        <h4 class="card-title ">Role List</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="table-responsive table-responsive-2">
                                                            <table mat-table [dataSource]="dataSourceRole" class="table">
                                                                <ng-container matColumnDef="role">
                                                                    <th mat-header-cell *matHeaderCellDef> Role </th>
                                                                    <td mat-cell *matCellDef="let role"> {{role}} </td>
                                                                </ng-container>
                                                                <ng-container matColumnDef="actions" stickyEnd>
                                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                                    <td mat-cell *matCellDef="let role; let i = index;"> 
                                                                        <div class="example-button-container">
                                                                            <button mat-icon-button (click)="addRole(i, role)">
                                                                                <i class="material-icons" >add</i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </ng-container>
                                                                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                                                                <tr mat-row *matRowDef="let role; columns: columnsToDisplay"></tr>
                                                            </table>
                                                            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" class="mat-paginator-sticky"></mat-paginator>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="example-button-container">
                    <button mat-raised-button *ngIf="!update" color="primary" 
                    [disabled]="user.invalid || dataSourceRoleNew.data.length == 0" class="color-button mr-3" (click)="addUser()">Save</button>
                    <button mat-raised-button *ngIf="update" color="primary" 
                    [disabled]="(user.invalid && user.pristine) || dataSourceRoleNew.data.length == 0" class="color-button mr-3" (click)="addUser()">Update</button>
                    <button mat-raised-button [mat-dialog-close]="false" color="warn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>