<div class="main-content h-80">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <form class="text-center col-12 h-100 pt-3" [formGroup]="balancing">
                <div class="row h-100">
                    <div class="col-md-7 col-sm-12">
                        <div class="col-12">
                            <mat-card class="col-md-12 col-sm-12 h-a over">
                                <div class="md-form  col-md-4 col-sm-12">
                                    <mat-form-field class="example-form-field col-12 p-0">
                                        <mat-label>User</mat-label>
                                        <input matInput type="text" formControlName="user">
                                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formBalancing.user.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>              
                                </div>
                                <div class="md-form  col-md-4 col-sm-12">
                                    <mat-form-field class="example-form-field col-12 p-0">
                                        <mat-label>Date</mat-label>
                                        <input matInput type="text" formControlName="date">
                                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formBalancing.date.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div class="md-form  col-md-4 col-sm-12">
                                    <mat-form-field class="example-form-field col-12 p-0">
                                        <mat-label>Hour</mat-label>
                                        <input matInput type="text" formControlName="hour">
                                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formBalancing.hour.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                            </mat-card>
                        </div>
                        <div id="chartdiv" class="graph col-md-12 col-sm-12"></div>
                    </div>
                    <div class="col-md-5 col-sm-12 p-0 h-100">
                    
                        <mat-card class="col-md-12 col-sm-12 h-a over">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Planes</th>
                                        <th>Left</th>
                                        <th> Central</th>
                                        <th>Rigth</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-primary"> Reference(Ounces)</td>
                                            <td> 1.5</td>
                                            <td></td>
                                            <td> 1.5</td>
                                        </tr>
                                        <tr>
                                            <td class="text-primary"> Reference(Ounces)</td>
                                            <td class="invalid">2.3</td>
                                            <td class="disable"></td>
                                            <td class="valid">1.1</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="md-form  col-md-4 col-sm-12">
                                <mat-form-field class="example-form-field col-12 p-0">
                                    <mat-label>Tube Diameter</mat-label>
                                    <input matInput type="text" formControlName="tubeDiameter">
                                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formBalancing.tubeDiameter.reset()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="md-form  col-md-4 col-sm-12">
                                <mat-form-field class="example-form-field col-12 p-0">
                                    <mat-label>RPM</mat-label>
                                    <input matInput type="text" formControlName="rpm">
                                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="formBalancing.rpm.reset()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </mat-card>
                        <mat-card class="col-md-12 col-sm-12 h-a over">
                            <div class="table-responsive">
                                <table mat-table [dataSource]="dataSourceAttempts" class="table">
                                    <ng-container matColumnDef="attempt">
                                        <th mat-header-cell *matHeaderCellDef> {{dummyAttempt.part}} - {{dummyAttempt.description}} </th>
                                        <td mat-cell *matCellDef="let attempt"> {{attempt.attempt}} </td>
                                    </ng-container>                                
                                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                    <tr mat-row *matRowDef="let attempt; columns: columnsToDisplay"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
