<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group no-border">
                    <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event)">
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Machines</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSourceMachines" class="table">
                                <ng-container matColumnDef="machineId">
                                    <th mat-header-cell *matHeaderCellDef> Mchine Id </th>
                                    <td mat-cell *matCellDef="let machine"> {{machine.id}} </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let machine"> {{machine.name}} </td>
                                  </ng-container>
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef> Description </th>
                                    <td mat-cell *matCellDef="let machine"> {{machine.description}} </td>
                                  </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> 
                                        <div class="example-button-container">
                                            <button mat-mini-fab color="primary" class="color-button" aria-label="Add New User" (click)="openModalAdd()">
                                              <i class="material-icons">add</i>
                                            </button>
                                        </div>
                                    </th>
                                    <td mat-cell *matCellDef="let machine"> 
                                        <div class="example-button-container">
                                            <button mat-icon-button aria-label="Update" (click)="openModalUpdate(machine)">
                                                <i class="material-icons">update</i>
                                            </button>
                                            <button mat-icon-button aria-label="Delete">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </div>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                <tr mat-row *matRowDef="let machine; columns: columnsToDisplay"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  